:root {
    --player-size: 50px;
    --player-placement: 275px;
    --player-movement-speed: 20px;
}
.canvas {
    width: 600px;
    height: 900px;
    margin: auto;
    background-image: url("./space.png");
    position: relative;
}

.player {
    position: absolute;
    bottom: 10px;
    left: var(--player-placement);
    width: var(--player-size);
    aspect-ratio: 1;
    background: blue;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 10px;
    background: white;
}

.monsterContainer {
    position: relative;
    width: 440px;
    margin: 0 auto;
    animation: 2s linear moveMonsters infinite;
}

@keyframes moveMonsters {
    0%,100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(40px);
    }
}

.monster {
    position: absolute;
    width: 25px;
    aspect-ratio: 1;
    background: red;
}