
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #001032;
  color: #33AF85;
  font-family: Cantarell;
}

div {
  &:focus {
    outline: none;
  }
}

.menu-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
  "a a a"
  "b . c"
  "d . e"
  "f . g";
  &:focus{
    outline: none
  }
}

.menu-title {
  grid-area: a;
  display: flex;
  justify-content: center;
}

.menu-item--left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.menu-item--right {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
}

.logo-box {
  position: relative;
  height: 9em;
}

.logo {
  position: absolute;
  left: calc(50% - 4.5em);
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.electron {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faktura-spill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  &-info-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px 10px 10px;
    font-weight: bolder;
    font-size: 20px;
    background-color: white;
    height: 50px;
  }

  &-input-field {
    &:focus {
      border: solid 3px #1a95e0 !important;
    }
  }
}

.fakura-fields {
  width: 100%;
}

fieldset {
  border: 1px solid #fff;
  width: 70%;
}

.intro-card {
  background-color: white;
  color: black;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
    min-width: 600px;
    max-width: 600px;
    min-height: 150px;
    margin-top: 15px;
  }
}

.pin-progress-bar {
  background-color: white !important;
  color: white !important;
  &-filled {
    background-color: greenyellow !important;
  }
}

.score-container {
  font-size: 2em;
  margin: 25px;
}

.dino-container {
  position: relative;
  width: 100%;
  height: 300px;
  //background-color: #f7f7f7;
  overflow: hidden;
}

.dino-background {
  width: 100%;
}

.dinosaur {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease-out;

  &-jumping {
    transform: translateY(-100px);
  }
  &-normal {
    animation-name: running;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes running {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-15deg) }
  50%  { transform: rotate(0deg) }
  75%  { transform: rotate(15deg) }
  100%   { transform: rotate(0deg) }
}


.obstacle {
  position: absolute;
  bottom: 0;
  width: 50px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}
