
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5rem;
  text-align: center;
}

body, label {
  background-color: #001032;
  color: #33AF85;
  font-family: Cantarell;
  font-size: 20px;
}

div {
  &:focus {
    outline: none;
  }
}

.menu {
  width: 100%;
  height: 100vh;
}

.menu-grid {
  display: grid;
  margin-top: 3rem;
  height: 70vh;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  &:focus{
    outline: none
  }
}

.menu-title {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.menu-description {
  color: white;
  font-size: 1.3rem;
}

.menu-item--left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.menu-item--right {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.logo-box {
  position: relative;
  height: 9em;
}

.logo {
  position: absolute;
  left: calc(50% - 4.5em);
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.electron {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pin-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 25rem;

  &-info-fields {
     display: flex;
     color: var(--primary-color);
     font-size: 2rem;
     font-weight: bold;
     justify-content: center;
  }
}
.faktura-spill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 15rem;

  &-info-fields {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 15px 10px 10px 10px;
    font-weight: bolder;
    font-size: 1.5rem;
    height: 60px;
    color: white;
  }

  &-info-fields-label {
    color: #A0A3AC;
    font-size: 1rem;
  }
  &-input-field {
    &:focus {
      border: solid 3px #1a95e0 !important;
    }
  }
}

.fakura-fields {
  width: 100%;
}

fieldset {
  border: 1px solid #fff;
  width: 70%;
}

.intro-card {
  background-color: white;
  color: black;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
    min-width: 600px;
    max-width: 600px;
    min-height: 150px;
    margin-top: 15px;
  }
}

.pin-progress-bar {
  background-color: white !important;
  color: white !important;
  &-filled {
    background-color: greenyellow !important;
  }
}

.score-container {
  font-size: 2em;
  margin: 25px;
}

.back_link {
  font-size: 1.2em;

}